* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10vw;
  font-weight: 400;
}

h2 {
  transform: translateY(-10%);
}

